@charset "EUC-KR";

/*****************************************************/
/* Table */
/*****************************************************/
.dataTables_wrapper .dataTable thead th {
	font-weight: 600;
}

.image-input, .image-input .image-input-wrapper {
    width: 100%;
}

/*****************************************************/
/* Modal */
/*****************************************************/
.modal-title {
	font-weight: 600!important;
}

.card.card-custom>.card-header .card-title, 
.card.card-custom>.card-header .card-title .card-label,
.card-title .card-label>i {
	font-size: 1.5rem!important;
	font-weight: 600!important;
}